body::before{
    display: block;
    content: '';
    height: 70px;
}

.navbar a img{
    width: 130px;
    height: 50px;
    margin-left: 40px;
}

.nav-item a{
    color: black;
}

.head-img{
    background-image: url(../images/bg-img1.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
}

.car-ola{
    color: rgb(122, 122, 122);
    font-size: 17px;
}

.card-body {
    flex: 1 1 auto;
    padding: 0rem 0rem;
}

.book-now{
    background-color: #CCE500;;
}

.hov-text:hover{
    background-color: #a8be00;
}

.fix-form{
    position: absolute;
    transform: translate(70px,-430px);
    width: 390px;
    background-color: #fff;
    color: #000;
    
}

.from-bttn{
    background-color: #CCE500;
    margin-left: 44px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}

.form-div2{
    margin-top: 10px;
    padding: 10px;
}

.form-div2 h5{
    font-size: 15px;
}
.form-div2 p{
    font-size: 12px;
}

.inp-div{
    padding: 5px;
    border: 0;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: start;
    padding: 5px;
    background-color: rgb(241, 241, 241);
}

.inp-btn{
    background-color: #CCE500;
    width: 90%;
    padding: 5px;
    margin: 10px;
}

.inp-div input{
    border: none;
    outline: none;
    width: 60%;
    background-color: rgb(241, 241, 241);
    
}

.inp-div label{
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    .ola p{
        font-size: 10px;
        

    }
    .ola h5{
        font-size: 15px;

    }
    .foot-p{
        display: grid !important;
    }
    .foot-p p{
        font-size: 10px;
    }
    .soc{
        display: flex !important;
    }
    .margi{
        margin: 10px !important;
    }
    
}
@media screen and (max-width: 420px) {
    .ola p{
        font-size: 8px;
        

    }
    .ola h5{
        font-size: 12px;
        

    }
    .foot-p p{
        font-size: 10px;
    }
    .foot-p{
        display: grid !important;
    }
    .soc{
        display: flex !important;
        
    }
    .margi{
        margin: 10px !important;
    }
    
    
}